@media (max-width: 763px) {}



.fundo {
    background-color: #64959C;
}

.fundo2 {
    background-color: #B2C2DA;
    width: 100%;
    height: 7px;
}

.logo {
    width: 110px;
    height: 107px;
    border-radius: 180px;
}

.ajustelogo {
    margin-left: 50px;
}

.ajust {
    margin-left: 250px;
}

.ajust2 {
    margin-left: 80px;
}

.dis {
    display: inline-block;
}

.Tmimg {
    width: 36px;
}

.mg {
    margin-left: 40px;
}

.mg2 {
    margin-left: 20px;
}

a {
    color: black;
}

.Rodape {
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 15px;
    position: relative;
    text-align: center;
    top: 30px;
}

.imgcarro {
    height: 300px;
    width: 100%;
}

.tamanhoCarrosel {
    width: 100%;
}



.dropdown1 {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 60px;
    margin: 17px;
    text-decoration: none;
}

.dropdow1-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
    text-decoration: none;
}

.dropdown1:hover .dropdow1-content {
    display: block;
}

.dropdown1:hover .dropbtn {
    background-color: rgba(253, 253, 253, 0.507);
    text-decoration: none;
    color: #64959C;
}